// Mixins

@mixin transition-all($all) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin transparent-background($background,$amount) {
	background: $background;
	background: rgba($background,$amount);
}
@font-face {
    font-family: 'TrebuchetGG';
    src: url('../fonts/Trebuchet.ttf');
}
@mixin serif-font{
	font-family: 'Lora', 'Times New Roman', serif;
}

@mixin sans-serif-font() {
	font-family: 'TrebuchetGG','Trebuchet','Trebuchet MS',Helvetica, Arial, sans-serif;
}
@mixin black-font-border {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

