section#top, section#bottom {
	background: pink;
	color: #797373;
}
section#mid {
	background:white;
}
#TableOfContents {
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 18px;
	color: #757575;
}
#TableOfContents ul {
	list-style-type: none;
	line-height: 4;
}