{{ partial "header.html" . }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                      <h1 id="page-title">{{ .Title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ .Description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ partial "toc.html" . }}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-0 content">
              {{ .Content }}
            </div>
        </div>
    </div>


{{ partial "footer.html" . }}
