{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/hero/rock-climbing.jpg')">
    {{ end }}
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="post-heading">
              <h1>{{ .Title }}</h1>
              <h2 class="subheading">{{ .Description }}<br /><small>{{ dateFormat .Site.Params.DateForm .Date }}</small></h2>
              <span class="meta">{{ if and (isset .Params "tags") (isset .Params "categories")}}
                Read more about our <b>{{ partial "tags.html" . }}</b> or take a look at more <b>{{ partial "categories.html" . }}</b>
              {{ else if isset .Params "tags" }}
                Read more about our <b>{{ partial "tags.html" . }}</b>
              {{ else if isset .Params "categories" }}
                Take a look at more <b>{{ partial "categories.html" . }}</b>
              {{ end }} 

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <small><a href="../" class="text-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to all news</a></small>
                  <div class="content">
                    {{ .Content }}
                  </div>
                </div>
            </div>
            {{ if or (.PrevInSection) (.NextInSection) }} 
              <div class="row text-center">
                <div class="col-xs-12 col-sm-6">
                  <a href="{{ if .PrevInSection }} {{ .PrevInSection.Permalink }} {{ else }}#{{end}}"><button class="btn btn-primary btn-lg {{ if not .PrevInSection }} disabled {{ end }}">{{ if .PrevInSection }}Last time:<br /> <em>{{ .PrevInSection.Title }}</em> {{ else }} This is the last post {{ end }}</button></a><br /><br />
                </div>
                <!-- <div class="visible-xs-block"><br /> <br /></div> -->
                <div class="visible-xs-block clearfix"></div>
                <div class="col-xs-12 col-sm-6">
                  <a href="{{ if .NextInSection }} {{ .NextInSection.Permalink }} {{ else }}#{{end}}"><button class="btn btn-primary btn-lg {{ if not .NextInSection }} disabled {{ end }}">{{ if .NextInSection }}Up next:<br /> <em>{{ .NextInSection.Title }}</em> {{ else }} This is the newest post {{ end }}</button></a>
                </div>
              </div>
            {{ end }}

        </div>
    </article>

{{ partial "footer.html" . }}