    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm" id="footer_social">
                  <ul class="list-inline">
                    <li class="footer_icons">
                      <a href="mailto:{{ .Site.Params.email }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ range .Site.Params.social }}
                        <li class="footer_icons">
                          <a href="{{ .url }}" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </li>
                    {{ end }}
                  </ul>
                </div>
                <div class="col-md-2 col-sm-3 hidden-xs col-sm-offset-1 col-md-offset-0">
                    <ul class="list-unstyled">
                        <li><a href='{{relref . "about.md" }}'>About</a></li>
                        <li><a href='{{relref . "contact.md" }}'>Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 hidden-xs">
                    <ul class="list-unstyled">
                        <li><a href="http://girlguidingnottinghamshire.org.uk" target="_blank">Girlguiding Notts</a></li>
                        <li><a href="http://girlguiding.org.uk" target="_blank">Girlguiding UK</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 copyright">
                  <span>{{ .Site.Copyright | safeHTML }}</span><br />
                  <span>Registered Charity No. 306016</span>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <!-- <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script>

    <!-- Contact form JS -->
    <script src="{{ .Site.BaseURL }}/js/contact.js"></script>
    <!-- Contact form validation JS -->
    <script src="{{ .Site.BaseURL }}/js/validation.js"></script>

    <script> // Scrollspy on top-toc (highlight active section)
    $(document).ready(function() { 
        $("#TableOfContents > ul").addClass("nav");
        $("#TableOfContents > ul > li > a").addClass("scr-a");
        $('body').scrollspy({ selector: '.scr-a', offset: 91 });
        $(".top-toc").mouseup(function(){ // Don't hold focus of menu item
           $(this).blur();
        });
    })
    </script>
    <!-- Make the header logo shrink (and the .Site.Title disappear) -->
    <script>
        $(window).scroll(function() {
          if ($(document).scrollTop() > 5) {
            $('nav.navbar').addClass('shrink');
          } else {
            $('nav.navbar').removeClass('shrink');
          }
          if ($(document).scrollTop() > 50) { // Stop the .Site.Title from jumping around
            $('.visible-shrink').addClass('shrink');
          }
          else {
            $('.visible-shrink').removeClass('shrink');            
          }
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43285686-10', 'auto');
      ga('send', 'pageview');

    </script>

    <script>
        $(document).ready(function() {
            // Floating-Fixed table of contents
            if ($('header').length) {
              $('.toc-wrapper').pushpin({ top: $('header').height() });
            }
            else if ($('#index-banner').length) {
              $('.toc-wrapper').pushpin({ top: $('#index-banner').height() });
            }
            else {
              $('.toc-wrapper').pushpin({ top: 0 });
            }
        })

        // Plugin initialization
        $('.slider').slider({full_width: true});
        $('.parallax').parallax();
        $('.modal-trigger').leanModal();
        $('.scrollspy').scrollSpy();
        $('.button-collapse').sideNav({'edge': 'left'});
        $('.datepicker').pickadate({selectYears: 20});
        $('select').not('.disabled').material_select();
    </script>

    <script>
        $(document).ready(function(){
            var offset = 300; // How far down does the button show
            var offset_opacity = 700; // How far down does the opacity reduce
            var scroll_top_duration = 700; // Duration of animation

            $back_to_top = $('.to-top'); // Button class

            $(window).scroll(function(){
                if( $(this).scrollTop() > offset ) {
                    $back_to_top.addClass('visible') 
                } else {
                    $back_to_top.removeClass('visible fade-out hover');
                }
                if( $(this).scrollTop() > offset_opacity ) { 
                    $back_to_top.addClass('fade-out');
                }
            });

            // Capture screen presses on touch devices
            $back_to_top.on('click touchstart', function() {
                $back_to_top.addClass('hover');
            });

            // Smooth (criminal) scroll to top
            $back_to_top.on('click', function(event){
                event.preventDefault();
                $('body,html').animate({
                    scrollTop: 0 ,
                    }, scroll_top_duration
                );
            });
        });
        $(document).ready(function () { // When we expand a panel, change the glyphicon like magic
            $(".collapsea > div").click(function () {
                $(this).children(":first").toggleClass("glyphicon-menu-down").toggleClass("glyphicon-menu-up");
            });
        });
    </script> 
    <script>
      $(document).ready(function(){ // Make the pages go zoom
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - 91 // Don't let top-toc go on top of the h1
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
      });
    function offsetAnchor() {
        if(location.hash.length !== 0) {
            window.scrollTo(window.scrollX, window.scrollY - 91); //Let the anchors land below top-toc
        }
    }
    window.setTimeout(offsetAnchor, 1); // Let the page go to the #anchor first
    </script>
    <script>
      $(document).ready(function(){ //Make flickr responsive
        $('div.flickr > a > img').addClass('img-responsive');
      });
    </script>
    <script> // Google Maps
    function initMap() {
        var hq = {lat: 52.9223292, lng: -1.2160224};
        var gmap = new google.maps.Map(document.getElementById('map'), {
          center: hq,
          zoom: 17,
          // Control buttons
          mapTypeControl: false,
          zoomControl: true,
          zoomControlOptions: {position: google.maps.ControlPosition.LEFT_CENTER},
          scaleControl: false,
          streetViewControl: false,
          fullscreenControl: false,
          // Pretty things
          styles:
            [
              {
                "elementType": "labels.text.fill", //Text
                "stylers": [
                  { "color": "#C40063" }
                ]
              },
              {
                "featureType": "landscape", //Rest!
                "elementType": "geometry.stroke",
                "stylers": [
                  { "color": "#83ABD8" }
                ]
              }
            ]
        });
        var marker = new google.maps.Marker({ // Put the pin on
            position: hq,
            map: gmap,
            title: 'Beeston HQ', //Hover text
        });
        
        // Info window
        var infocontent = '<h4>Beeston HQ</h4>';
        var infowindow = new google.maps.InfoWindow({ content: infocontent });
        infowindow.open(map, marker); //Auto appear
        marker.addListener('click', function() {
            infowindow.open(map, marker); //Click the marker to make it appear if closed
        });
    }
    </script>
    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl64bhjcpxtwBxXkgkMIhA96_CGTyId9s&callback=initMap">
    </script>
    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
