    <div class="home-banner banner-blue">
    <!-- Interested?, section 6 -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
            <h2>Interested in getting involved?</h2>
            <p></p>
            <div class="row">
              <div class="col-xs-6"><a href="http://www.girlguiding.org.uk/get_involved/volunteer/register_your_interest.aspx" target="_blank"><button class="btn btn-primary">Register your daughter <span class="glyphicon glyphicon-new-window"></span></button></a></div>
              <div class="col-xs-6"><a href="http://www.girlguiding.org.uk/get_involved/volunteer/register_your_interest.aspx" target="_blank"><buton class="btn btn-primary">Volunteer with us <span class="glyphicon glyphicon-new-window"></span></buton></a></div>
            </div>
            <br />
          </div>
        </div> 
      </div>
    </div>