    <div class="home-banner banner-blue">
    <!-- Interested?, section 6 -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
            <h2>Interested in getting involved?</h2>
            <p></p>
            <div class="row">
              <div class="col-xs-6"><a href="http://www.girlguiding.org.uk/get_involved/volunteer/register_your_interest.aspx" target="_blank" class="btn btn-primary btn-lg" role="button" >Register your daughter</a></div>
              <div class="col-xs-6"><a href="http://www.girlguiding.org.uk/get_involved/volunteer/register_your_interest.aspx" target="_blank" class="btn btn-primary btn-lg" role="button">Volunteer with us</a></div>
            </div>
            <br />
          </div>
        </div> 
      </div>
    </div>