{{ if and (.Params.toc) .TableOfContents }}

	<div class="top-toc">
		<div class="container">
			<div class="row">
				<nav class="navbar-fixed-top">
					<div class="container-fluid">
						<div class="col-xs-1 to-top">
							<ul class="nav nav-pills nav-justified toc">
								<li>
									<a href="#">Division</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-11">
							{{ with .TableOfContents }}
		  					{{ replace . "id=\"TableOfContents\"" "id='TableOfContents' class='toc'" | safeHTML }}
							{{ end }}
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
{{end}}