{{ if eq .Params.toc true }}
{{ if .TableOfContents }}

	<div class="top-toc" data-spy="affix" data-offset-top=387>
		<div class="container">
			<div class="col-xs-11" id="spy">
				{{ with .TableOfContents }}
					{{ replace . "id=\"TableOfContents\"" "id='TableOfContents' class='top-toc'" | safeHTML }}
				{{ end }}
			</div>
			<div class="col-xs-1 to-top">
				<ul>
					<li><a href="#" class><span class="glyphicon glyphicon-menu-up" aria-lavel="Back to top"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
{{end}}
{{end}}