{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">
           <div class="site-heading">
             <h1>{{ .Site.Title }}</h1>
             <hr class="small">
             {{ if isset .Site.Params "Description" }}<span class="subheading">{{ .Site.Params.Description | markdownify }}</span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>
    {{ partial "toc.html" . }}
    <!-- Main Content -->

    <div class="home-banner">
    <!--Top Title header, section 1 -->
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-xs-12">
            {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "1") }}
              {{ .Content }}
            {{ end }}{{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="home-banner">
    <!-- We do this; 3-way split, section 2 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "2") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <div class="home-banner">
    <!-- Group summary; 4-way split, section 3 -->
      <div class="container text-center">
        <h2>Our groups</h2>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h3>Rainbows</h3> <a href='{{relref . "groups.md#rainbows" }}' class="btn btn-primary" role="button" >Read more...</a>
            <p>Girlguiding starts aged 5 with our youngest group. Rainbows play games, have parties, make things and enjoy the outdoors while developing life skills.</p>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>Brownies</h3><a href='{{relref . "groups.md#brownies" }}' class="btn btn-primary" role="button" >Read more...</a>
            <p>Brownies do it all! From ages 7-10, Brownies make up and take on their own challenges, as well as playing fun games.</p>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-3 col-sm-6">
            <h3>Guides</h3><a href='{{relref . "groups.md#guides" }}' class="btn btn-primary" role="button" >Read more...</a>
            <p>Being a Guide encourages girls aged 10-14 to develop by undertaking challenges and pushing the boundaries of their experience.</p>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>Senior Section</h3><a href='{{relref . "groups.md#senior-section" }}' class="btn btn-primary" role="button" >Read more...</a>
            <p>For anyone 14-25, the Senior Section offers young women an exciting and flexible programme with a huge variety of challenges and opportunities for personal development.</p>
          </div>
        </div>
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "3") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <div class="home-banner">
    <!-- Adults, section 4 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "4") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <!--Lower Title header -->
    <div class="home-banner">
    <!-- Volunteers, section 5 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "5") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    {{ partial "interested.html" . }}
    <!-- End Main Content -->

{{ partial "footer.html" .}}
