{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/hero/rainbow-brownie-guide.jpg');">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">
           <div class="site-heading">
             <h1>{{ .Site.Title }}</h1>
             <hr class="small">
             {{ if isset .Site.Params "Description" }}<span class="subheading">{{ .Site.Params.Description | markdownify }}</span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>
    {{ partial "toc.html" . }}
    <!-- Main Content -->

    <div class="home-banner">
    <!--Top Title header, section 1 -->
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-xs-12">
            {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "1") }}
              {{ .Content }}
            {{ end }}{{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="home-banner">
    <!-- We do this; 3-way split, section 2 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "2") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <div class="home-banner">
    <!-- Group summary; 4-way split, section 3 -->
      <div class="container text-center">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "3") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <div class="home-banner">
    <!-- Adults, section 4 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "4") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    <!--Lower Title header -->
    <div class="home-banner">
    <!-- Volunteers, section 5 -->
      <div class="container">
        {{ range .Site.Pages }} {{ if and (eq .Section "homepage") (eq .Title "5") }}
          {{ .Content }}
        {{ end }}{{ end }}
      </div>
    </div>
    {{ partial "interested.html" . }}
    <!-- End Main Content -->

{{ partial "footer.html" .}}
