{{ $numOfParams := len .Params }}
{{ if ge $numOfParams 1 }} <!-- Ensure there is a selected group -->

	{{ $section := .Get 0 }} <!-- Get the group -->
	{{ if isset $.Site.Data.groups $section }} <!-- Verify it exists -->
		{{ $nogroups := len (index $.Site.Data.groups $section )}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" data-target="#collapse{{$section}}" class="collapsea"><div style="width:100%">Our {{ humanize $section | title  }} groups <span class="glyphicon glyphicon-menu-down"></span></div></a>
			</div>
			<div class="panel-collapse collapse" id="collapse{{$section}}">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Unit</th>
								<th>Meets on</th>
								<th>Waiting List?</th>
							</tr>
						</thead>
						<tbody>
						{{ range $key, $item := index $.Site.Data.groups $section }}
							<tr>
								<td>{{ $item.Name }}</td>
								<td>{{ $item.Day }}s</td>
								<td {{if eq $item.Waiting "Yes"}} class="success" {{ else if eq $item.Waiting "No" }} class="danger" {{ else }} class="warning" {{ end }} >{{ if or (eq $item.Waiting "Yes") (eq $item.Waiting "No")}} {{ $item.Waiting }} {{ else }} Unknown {{ end }}</td>
							</tr>
						{{ end }}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{{ end }}
{{ end }}
