{{ $numOfParams := len .Params }}
{{ if ge $numOfParams 1 }} <!-- Ensure there is a selected quote -->

	{{ $section := .Get 0 }} <!-- Get the desired quote -->
	{{ if isset $.Site.Data.groups $section }}
	  {{ range $key, $item := index $.Site.Data.groupSnippets $section }} 
	    <div class="col-md-3 col-sm-6">
	      <h3>{{ humanize $section | title}}</h3><a href='{{ relref $ "groups.md#" }}#{{ $section }}'><button class="btn btn-primary">Read more...</button></a>
	      <p>{{$item.snippet}}</p>
	    </div>
	  {{ end }}
  {{ end }}
{{ end }}