            <h2>Volunteers make Guiding happen</h2>

						<p>Enthusiasm, common sense and a friendly approach are all that’s needed. As a volunteer with GirlGuiding, you'll make new friends, have a good time and make a real difference to the lives of today's girls and young women. Beeston Division Rainbows, Brownies and Guides need you! Lots of girls are waiting but we need leaders and helpers to get them in on all the fun. </p>

						<p>Opportunities exist on different evenings in Beeston, Chilwell, Attenborough and Toton and full support and training is available. Flexible volunteering makes it easy for people to share skills, time and energy in a way that suits their lifestyle.</p>
